/* #box {
    height: 200px;
    width: 100px;
    background-color: aqua;
    color: white;
    border: 1px solid black;
} */
div {
    height: 100px;
    background-color: brown;
    border: 1px solid black;
}